{% if 'en' not in get_alts(this) and this.alt == 'en' %}
<meta http-equiv="refresh" content="0;url={{ site.get('/')|url(external=true) }}blog/">
{% else %}
{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

<div class="blog-post">
  <h1 class="blog-post-title">Full Blog Archive</h1>
    {%- set ns = namespace(last_year=0, last_month=0) -%} 
    {%- for page in this.children -%}
    {%- set current_year = page.pub_date.strftime('%Y') -%}
    {%- set current_month = page.pub_date.strftime('%B') -%}
    {%- if ns.last_month != current_month %}<br /><h2>{{ current_month }}, {{ current_year }}</h2>{% endif %}
    {%- set ns.last_year = current_year -%}
    {%- set ns.last_month = current_month -%}
      {% for alt in get_alts(page) %}
        {%- set page_alt = site.get(page._path, alt=alt) -%}
      {{ page.pub_date.strftime('%d %b') }} <a href="{% if page.alts == 'en' or alt == 'en' %}{{ site.get('/')|url }}en/blog/{{ page._slug }}/{% else %}{{ page|url }}{% endif %}">{{ page_alt.title }}{% if page.alts == 'en' or alt == 'en' %} - (en){% endif %}</a><br />
      {% endfor %}
    {%- endfor -%}
</div>
<br />
{% endblock %}
{% endif %}