<!doctype html>
<html lang="{{ this.alt }}">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34549018-8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-34549018-8', { 'anonymize_ip': true });
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="{{ '/static/img/favicon.ico'|url }}">

  <title>{{ this.title }}</title>
  <meta property="og:title" content="{% if this.og_title is defined and this.og_title|length %}{{ this.og_title }}{% else %}{{ this.title }}{% endif %}" />
  <meta name="description" content="{{ this.metadesc }}">
  <meta property="og:description" content="{% if this.og_description is defined and this.og_description|length %}{{ this.og_description }}{% else %}{{ this.metadesc }}{% endif %}" />
  {% set og_image = this.attachments.get('social.png') %}{% if og_image %}<meta property="og:image" content="{{ og_image|url(external=true) }}" />{% endif %}
  <meta property="og:url" content="{{ this|url(external=true) }}" />
  <meta property="og:type" content="article" />

  <link rel="stylesheet" href="{{ '/static/css/bootstrap.min.css'|url }}">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu:700" />
  <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 

  <!-- Custom CSS -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/static/css/custom.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/custom-ah.css'|asseturl }}">

  <link rel="alternate" type="application/atom+xml" href="/atom.xml" />
</head>

<body>
  <main role="main" class="container">

    <!-- HEADER -->
    <header class="site-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col pt-1">
          <a class="site-header-name" href="/">
            <h1 class="site-header-name">Adrian Harabulă</h1>
          </a>
        </div>
        <div class="align-right">
          <ul class="list-inline alt">
            {% for alt in get_alts(this) %}
              {% if alt != this.alt and this.alts != 'en' %}
                <li class="list-inline-item"><a href="{{ '.'|url(alt=alt) }}">{%- set lang_img = '/img/' + alt + '.png' -%}<img src="{{ lang_img|url }}" alt="" /></a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </header>
    <!-- END HEADER -->

    <!-- NAVIGATION -->
    <div class="container nav-bar">
      <div class="row nav">
        {%- for page in site.get('/', alt=alt).children.order_by('sort_key') %}
        <a class="col-md-auto p-2{% if this == page %} active{% endif%}" href="{{ page|url }}">{{ page.title }}</a>
        {%- endfor %}
      </div>
    </div>
    <!-- END NAVIGATION -->

    <div class="row">

      <!-- MAIN BODY -->
      <div class="col">

        {% block body %}{% endblock %}
      </div>

    </div>
  </main>

  <footer class="site-footer">
    <p>Vulnerant Omnes, Ultima Necat</p>
  </footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="{{ '/static/js/custom-ah.js'|url }}"></script>

</body>

</html>