{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<!-- BLOG POST -->
<div class="blog-post">
  <h1 class="blog-post-title">{{ this.title }}</h1>
  {{ this.body }}
</div>
<!-- END BLOG POST -->

</div>
<!-- END MAIN BODY -->

{#<!-- SIDEBAR -->
<aside class="col-md-4">
  <div class="p-3 mb-3 bg-light rounded">
    <h4>Despre Adrian</h4>
    <p class="mb-0">Cu calculatoarele de meserie, nu prea sociabil dar îmi dau silința, îmi place să am mulți prieteni cu care să mă înțeleg de minune.
    </p>
  </div>

  <div class="p-3">
    <h4>Vezi și:</h4>
    <ol class="list-unstyled">
      <li><a href="https://www.youtube.com/channel/UCOTsrTrys1oDozIdnO_Y_BQ">YouTube</a></li>
    </ol>
  </div>
</aside>
<!-- END SIDEBAR -->#}
{% endblock %}